<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-arribatec-sds" value="https://nuget.pkg.github.com/Arribatec-SDS/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-arribatec-sds>
      <add key="Username" value="%GITHUB_USERNAME%" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github-arribatec-sds>
  </packageSourceCredentials>
</configuration>
